
/* Add Overwatch font for TITLES/HEADINGS */
/*@font-face { font-family: "Overwatch"; src: 
url("http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff") format('woff'); }*/

@font-face { font-family: "bignoodle"; src: 
url("big_noodle_titling.ttf") format('woff'); }

@font-face { font-family: "bignoodle-oblique"; src: 
url("big_noodle_titling_oblique.ttf") format('woff'); }


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


#content-container {
	box-shadow: 10px 10px 5px 10px #888888;
    width: 75%;
}

/* Navbar Stuffz*/

#navbar {
	padding: 0;
    margin-bottom: 2%;
    background: linear-gradient(#d9d9d9, #fff);
    border: 0;
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;

}

.navbar-brand {
	float:none;
	font-family: "bignoodle-oblique";
	font-size: 36px;
	


/********* Main Page******************************************************************************/

}

.page-header {
	font-family: "bignoodle";
}

.banner {

	width: 60%;
}

#guess-display {

	font-family: "bignoodle";
	text-align: center;
}



h2 {
	font-family: "bignoodle";
}


/* Miss Image */
.misses {
	width: 100px;
	height: 100px;
	padding-right: 10%;
    margin-right: 20%;
}

.misses-col {
    padding-left: 0;
}

.misses img {
	max-width: 100%;
	height: auto;
	border-radius: 5%;
}

#new-game {
	margin-bottom: 20px;
}


/* Footer *******************************************************************************************/

#footer {
	box-sizing: border-box;
	background: linear-gradient(#fff, #d9d9d9);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	padding: 25px;
	margin-top: 80px;	
	border: 0;
}

#footer div h5 {
	margin-top: 3%;
	color: #fff;
}

.footer-motto {
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    position: center;
}

#modal img {
    margin-top: 12%;
	width: 20%;
	border-radius: 5%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (min-width: 750px) and (max-width: 992px){

     /*Miss Image */
    .misses {
        width: 90%;
        height: 90%;
        padding-right: 10%;
    }

    .misses img {
        max-width: 100%;
        height: auto;
        border-radius: 5%;
    }
}

@media screen and (max-width: 749px) {
    /*Miss Image */
    .misses {
        width: 30px;
        height: 30px;
        padding-right: 10%;
    }

    .misses img {
        max-width: 100%;
        height: auto;
        border-radius: 5%;
    }

}